.Rproj.user
.Rhistory
.RData

.DS_Store

vignettes/.DS_Store
vignettes/*.html
vignettes/*.md
vignettes/*.R
vignettes/*_files


README.html

Rplots.pdf
tests/testthat/Rplots.pdf
tests/testthat/sleep_pipe*


