# .travis.yml using container-based infrastructure

# use c as catch-all language
language: c

# use containers
sudo: false

# only run for pushes to master branch
branches:
  only:
  - master
  - devel

# install R: use r-packages-precise (https://cran.r-project.org/bin/linux/ubuntu/precise/)
# as source which is white listed (https://github.com/travis-ci/apt-source-whitelist/)
addons:
  apt:
    sources:
    - r-packages-precise
    packages:
    - r-base-dev
    - r-recommended
    - pandoc
    - libcurl

# cache local R libraries directory:
cache:
  directories:
    - ~/Rlib
# Be strict when checking our package
warnings_are_errors: false


# install the package and dependencies:
# - create directory for R libraries (if not already exists)
# - create .Renviron with location of R libraries
# - define R repository in .Rprofile
# - add .travis.yml to .Rbuildignore
# - install devtools if not already installed
# - install covr if not already installed
# - update all installed packages
# - install package with dependencies
install:
  - mkdir -p ~/Rlib
  - echo 'R_LIBS=~/Rlib' > .Renviron
  - echo 'options(repos = "http://cran.rstudio.com")' > .Rprofile
  - echo '.travis.yml' > .Rbuildignore
  - Rscript -e 'if(!"devtools" %in% rownames(installed.packages())) { install.packages("devtools", dependencies = TRUE) }'
  - Rscript -e 'if(!"covr" %in% rownames(installed.packages())) { install.packages("covr", dependencies = TRUE) }'
  - Rscript -e 'if(!requireNamespace("staticdocs")) devtools::install_github("sahilseth/staticdocs")'
  - Rscript -e 'if(!requireNamespace("packagedocs")) devtools::install_github("sahilseth/packagedocs")'
  - Rscript -e 'if(!requireNamespace("params")) devtools::install_github("sahilseth/params")'
  - Rscript -e 'update.packages(ask = FALSE, instlib = "~/Rlib")' ## update all packages !
  - Rscript -e 'devtools::install_deps(pkg = ".", dependencies = TRUE)'
   
# Build and check package
script:
  - R CMD build . --no-build-vignettes --no-manual
  - PKG_FILE_NAME=$(ls -1t *.tar.gz | head -n 1)
  - R CMD check "${PKG_FILE_NAME}" --no-build-vignettes --no-manual --as-cran rpack

after_success:
  - R CMD INSTALL .
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "devel" && bash misc/deploy2.sh
  - Rscript -e 'covr::codecov()'
